body {
    background-color: #1f1f1f;
    text-align: center;
    
}

h1 {
    color: white;
    text-shadow: black, 2px 2px;
    font-family: 'Franklin Gothic Medium';
    font: bold, large;
    font-size: xx-large;
    animation: FadeUp 2s ease 0s 1 normal forwards;

}

@keyframes FadeUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
